.playground-theme1 {
	background-image:url("images/bg4.jpg");
}

.background-theme1 {
	background-image: url("images/snakeSegment1.png");
}

.snakeSegment-theme1 {
	background-image: url("images/snakeSegment1.png");
	background-repeat: none;
}

.apple-theme1 {
	background-image: url("images/appleNice.gif");
	background-repeat: none;
}

.strawberry-theme1 {
	background-image: url("images/strawberry1.png");
	background-repeat: none;
	z-index: 2;
}

.playground-theme2 {
	background-image:url("images/bg5.jpg");	
}

.background-theme2 {
	background-image: url("images/snakeSegment2.png");
}

.snakeSegment-theme2 {
	background-image: url("images/snakeSegment2.png");
	background-repeat: none;
}


.apple-theme2 {
	background-image: url("images/applePixely.gif");
	background-repeat: none;
	z-index: 2;
}

.strawberry-theme2 {
	background-image: url("images/strawberry2.gif");
	background-repeat: none;
	z-index: 2;
}

.playgroundPosition {
	top: 20px;
	left: 20px;
	z-index: 1;
	position: absolute;
	border: none;
	display: block;		
}

.backgroundPosition {
	top: 80px;
	left: 0;
	z-index: -1;
	position: absolute;
	display: block;
}